<section id="add">
  <form action="/new" method="post">  
    <textarea name="content" placeholder="Anotar tarea&hellip;"></textarea>
    <input type="submit" value="Registrar!">
  </form>
</section>



<% @tasks.each do |task| %>
  <article <%= 'class="complete"' if task["done"] == true %>>  
    <p>
      <%= task["title"] %>
    </p>
    <p class="links">
      <a href="/<%=task["id"]%>/complete"> Hecho!&#8623;</a>
    </p>
    <p class="meta">Created: <%= task["created_at"]%></p>


    <span class="pull-right">
    <p><a href="/<%=task["id"]%>/delete">Delete</a></p>
    </span>

  </article>  
<% end %>




<%# <a href="/new" class="btn btn-primary">Add todo item</a> %>